@model LeaveAllocationEditVM

@{
    ViewData["Title"] = "Edit Allocation";
}

<h1>Editing @Model.LeaveType?.Name Allocation for @Model.Employee.FirstName @Model.Employee.LastName</h1>

<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditAllocation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LeaveType.Id" />
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Back to List</a> &nbsp;
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>